<!-- app/templates/add_stock.html -->

{% extends 'base.html' %}

{% block content %}
<h1>Add Stock</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.symbol.label(class="form-label") }}
        {{ form.symbol(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Add Stock</button>
</form>
{% endblock %}



